# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/build

# Sanity runtime
/.sanity

# Vercel
.vercel

# Logs
/logs
*.log

# Coverage
/coverage

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Dotenv (NEVER commit secrets)
.env
.env.*
!.env.example
*.local
